<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Certifications</h2>
<div class="w3-container">
	<p class="w3-text-grey">
		<i class="fa fa-minus w3-medium"></i> Introduction to Self-Driving Cars | Coursera <br>
		<i class="fa fa-minus w3-medium"></i> State Estimation and Localization for Self-Driving Cars | Coursera <br>
		<i class="fa fa-minus w3-medium"></i> Motion Planning for Self-Driving Cars | Coursera <br>
		<i class="fa fa-minus w3-medium"></i> Structuring Machine Learning Projects | Coursera <br>
		<i class="fa fa-minus w3-medium"></i> Introduction to TensorFlow for Artificial Intelligence, Machine Learning, and Deep Learning | Coursera <br>
		<i class="fa fa-minus w3-medium"></i> Machine Learning | Coursera <br>
	</p>
</div>

<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Courses</h2>
<div class="w3-container">
	<p class="w3-text-grey">
		<i class="fa fa-minus w3-medium"></i> ENPM809B Building a Manufacturing Robot Software System <br>
		<i class="fa fa-minus w3-medium"></i> ENPM808X Software Development for Robotics <br>
		<i class="fa fa-minus w3-medium"></i> ENPM661 Planning for Autonomous Robots <br>
		<i class="fa fa-minus w3-medium"></i> CMSC733 Computer Processing of Pictorial Information <br>
		<i class="fa fa-minus w3-medium"></i> CMSC818B Decision Making for Robotics <br>
		<i class="fa fa-minus w3-medium"></i> ENPM673 Perception for Autonomous Robots <br>
		<i class="fa fa-minus w3-medium"></i> ENPM667 Control of Robotic Systems <br>
		<i class="fa fa-minus w3-medium"></i> ENPM662 Introduction to Robot Modeling <br>
		<i class="fa fa-minus w3-medium"></i> ENPM645 Human-Robot Interaction
	</p>
</div>

