<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Courses</h2>
<div class="w3-container">
<p class="w3-text-grey">
    CMSC733 Computer Processing of Pictorial Information <i class="fa fa-minus w3-medium"></i> ENPM673 Perception for Autonomous Robots <i class="fa fa-minus w3-medium"></i> ENPM808X Software Development for Robotics <i class="fa fa-minus w3-medium"></i> ENPM661 Planning for Autonomous Robots <i class="fa fa-minus w3-medium"></i> ENPM667 Control of Robotic Systems <i class="fa fa-minus w3-medium"></i> ENPM662 Introduction to Robot Modeling
</p>
</div>