<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
<!-- begin UMD -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>University of Maryland, College Park (USA)</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - <span class="w3-tag w3-teal w3-round">Expected May 2021</span></h6>
  <h6 class="w3-text-teal"><i class="fa fa-certificate fa-fw w3-margin-right"></i>GPA 3.88/4.00</h6>
  <p class="w3-text-grey">Master of Engineering in Robotics</p>
  <hr>
</div>
<!-- end UMD -->

<!-- begin MNNIT -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>Motilal Nehru National Institute of Technology, Allahabad (India)</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2014</h6>
  <h6 class="w3-text-teal"><i class="fa fa-certificate fa-fw w3-margin-right"></i>GPA 8.61/10.00 </h6>
  <p class="w3-text-grey">Bachelor of Technology in Mechanical Engineering</p>
  
  <!-- to maintaain height with certification right block -->
  <br>
  <br>
  <br>
</div>
<!-- end MNNIT -->