<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
<!-- begin UMD -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>University of Maryland, College Park (USA)</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2019 - May 2021</h6>
  <h6 class="w3-text-teal"><i class="fa fa-certificate fa-fw w3-margin-right"></i>GPA 3.90/4.00</h6>
  <p class="w3-text-grey">Master of Engineering in Robotics</p>
</div>
<!-- end UMD -->
<hr>
<!-- begin MNNIT -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>Motilal Nehru National Institute of Technology, Allahabad (India)</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2010 - May 2014</h6>
  <h6 class="w3-text-teal"><i class="fa fa-certificate fa-fw w3-margin-right"></i>GPA 8.61/10.00 </h6>
  <p class="w3-text-grey">Bachelor of Technology in Mechanical Engineering</p>
</div>
<!-- end MNNIT -->
<hr>
<!-- to maintaain height with certification right block -->
<br>
<br>
<br>
<br>
<br>