<!-- profile name -->
<div class="w3-container w3-teal">
  <div class="w3-container w3-text-white">
    <h1 style="text-shadow: 4px 4px 8px rgb(0, 0, 0)"><b>Varun Asthana</b></h1>
  </div>
</div>
<!-- end profile name -->
<!-- personal details -->
<div class="w3-container">
  <p>
    <i class="fa fa-suitcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Data Scientist (AI/ML)<br>
    <i class="fa fa-NONE fa-fw w3-margin-right w3-large w3-text-teal"></i>Infoedge Ltd.</p>
  <p>
    <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Noida, UP, India
  </p>
  <p>
    <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>varunasthana92@gmail.com
  </p>
  <p>
    <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91-7522059822
  </p>

  <p class="w3-large w3-text-theme">
    <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
  </p>
  <p>
    C++, Python, Computer Vision, ROS, OpenCV, Tensorflow, Linux, MATLAB
  </p>
  <p class="w3-large w3-text-theme">
    <b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
  </p>
  <p>English, Hindi</p>
</div>