<!-- begin about me container -->
<div class="w3-container w3-white w3-padding w3-card-4">
  <h2 class="w3-text-grey w3-padding-6"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About Me</h2>

  <div class="w3-display-container">
    <img src="/images/profile_3.png" class="w3-circle" style="height:160px;width:160px" alt="Avatar">
  </div>

  <div class="w3-container w3-text-grey w3-center">
    <p>
      I am a Robotics graduate student at the University of Maryland-College Park with a GPA 4.0<br>
      Completed my under-gradaution in Mechanical Engineering in 2014<br>
      5 years of work experience in the automobile industry
    </p>
    
    <p>
      I am proficient with C++, Python, TensorFlow, and ROS. I can deliver projects related to automation and vision.
    </p>
    
    <p>
      I am always ready to walk an extra mile to achieve the end result<br>
      Earned several performance accolades both in academics and in professional setup
    </p>
    <br>
  </div>
</div>