<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About Me</h2>

<div class="w3-display-container">
  <img src="/images/profile_3.png" class="w3-circle" style="height:170px;width:170px" alt="Avatar">
</div>

<div class="w3-container w3-text-grey w3-center">
  <p>
    I am currently working as a Senior Data Scientist at Infoedge Pvt ltd., Noida, UP (India)<br>
  	Previously worked as a Software Engineer at Verdant Robotics Inc., Hayward, CA (USA)<br><br>
    Master's in Robotics Engineering from the University of Maryland, College Park (USA), class of 2021 (GPA 3.90/4.00)<br>
    <br>
    I have an under-gradaute degree in Mechanical Engineering, from NIT-Allahabad (India), class of 2014 (GPA 8.61/10.00)<br>
  </p>
  
  <p>
    I am always ready to walk an extra mile to achieve the end result<br>
    Earned several performance accolades both in academics and in professional setup
  </p>
</div>