<!-- First Project row-->
<div class="w3-container">
  <div w3-include-html="projects/yolo.html"></div>
  <div w3-include-html="projects/deep_uncertain.html"></div>
  <div w3-include-html="projects/lane_detection.html"></div>
  <div w3-include-html="projects/dog_cat.html"></div>
</div>
<!-- end first row -->

<!-- begin second row -->
<div class="w3-container">
  <div w3-include-html="projects/obj_anomoly.html"></div>
  <div w3-include-html="projects/ar_tag.html"></div>
  <div w3-include-html="projects/human_detection_openCV.html"></div>
  <div w3-include-html="projects/face_swap.html"></div>
</div>
<!-- end second row -->

<!-- begin third row -->
<div class="w3-container">
  <div w3-include-html="projects/panaroma.html"></div>
  <div w3-include-html="projects/auto_calib.html"></div>
</div>
<!-- end third row -->