<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

<!-- begin UMD PRG container -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>University of Matyland, College Park (USA)</b></h5>
  <p class="w3-text-grey">
  Research Assistant Perception and Robotics Group
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
  <p>
    <ul class="w3-text-grey">
    <li>Developed a variable baseline stereo camera system using RaspberryPi for a UAV to autonomously adjust the field of view based for depth estimation.</li>
    <li>Built a proof of concept drone to autonomously perch to a pipe using Intel Realsense D435i depth camera & Jetson TX2 module..</li>
    <li>Working on an algorithm and design of a ‘RoboBeeHive’ drone to perch to a tree branch and deploy mini-drones for specific tasks..</li>
    </ul>
  </p>
</div>
<!-- end UMD PRG container -->

<!-- begin bajaj container -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>Bajaj Auto Limited, Pune (India)</b></h5>
  <p class="w3-text-grey">
  Assistant Manager-Component Development  / Apr 2017 - Jul 2019<br>
  Senior Engineer-Component Development    / May 2016 - Mar 2017<br>
  Senior Engineer-Service (Commercial Vehicles) / Jul 2014 - Apr 2016</p>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2014 - Jul 2019</h6>
  <p>
    <ul class="w3-text-grey">
    <li>Managed a team of 50+ people at 7 Tier-1 vendors and multiple Tier-2 vendors to manufacture exhaust systems.</li>
    <li>Executed projects from design stage to market launch leading to launch of 20+ products in domestic and international markets.</li>
    <li>Extensive experience of robotic production line set-up.</li>
    <li>Allocated and prioritized resources among vendor teams for parallel execution of different projects.</li>
    <li>Provided design for manufacturability comments to R&D team.</li>
    <li>Lead a team of 5 for designing robotic weld fixtures and for production line layout finalization.</li>
    <li>Expanded vendor base for cost-effective manufacturing. Developed standard cost estimation model for fixtures and gauges.</li>
    <li>Defined manufacturing process for each sub-assembly part of exhaust systems.</li>
    <li>Special Marketing Project: ​Maxima Power Challenge. The project resulted in a 3% gain of market share in a year.</li>
    <li>Conceptualized and implemented 2 hours service module for commercial vehicles, improving the previous time by 3 hours.</li>
    </ul>
  </p>
</div>
<!-- end bajaj container -->