<h2 class="w3-text-grey w3-padding-6"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

<!-- to highlight PRESENT <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020 - <span class="w3-tag w3-teal w3-round">Present</span></h6> -->

<!-- begin Verdant container -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>Verdant Robotics Inc., Hayward, CA (USA)</b></h5>
  <p class="w3-text-grey">
    Software Engineer / Jun 2021 - Present<br>
    Robotics Senior Engineer (Intern) / Feb 2021 - May 2021<br>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2021 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
  <p>
    <ul class="w3-text-grey">
    <li>Integration of cameras with the code stack using Nvidia’s libargus APIs.</li>
    <li>Implemented synchronized stereo pair FIFO mode for 2 independant camera streams.</li>
    <li>Developed a GUI-based tool to visualize the stereo-rectification on synced stereo video pairs.</li>
    <li>Automated the ML pipeline to parse logs, and generate a tensorRT engine.</li>
    <li>Trained a Resnet56 model for crops classification.</li>
    <li>Improved output of image sampling tool to generate data for labeling through active learning. Defined a heuristic for sampled images by integrating the trained ML model and a vegetation segmentation algorithm.</li>
    <li>Developed a driver for Trimble BX992 GNSS receiver in C++ to read the GPS messages.</li>
    <li>Implemented the ethernet socket communication in C++ to set the NTRIP caster parameters using binary command packets.</li>
    </ul>
  </p>
</div>
<!-- end Verdant container -->
<hr>
<!-- begin UMD PRG container -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>University of Matyland, College Park, MD (USA)</b></h5>
  <p class="w3-text-grey">
  Research Assistant Perception and Robotics Group
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020 - - Jan 2021</h6>
  <p>
    <ul class="w3-text-grey">
    <li>Developed a variable baseline stereo camera system using RaspberryPi for a UAV to autonomously adjust the field of view based on the approach velocity for depth estimation of the region of interest. <a href="http://prg.cs.umd.edu/MorphEyes" target="_blank" class="w3-text-teal">[here]</a></li>
    <li>Trained a cylindrical pipe detector model using segmentation in tensorflow to build a proof of concept drone to autonomously perch to the pipe equipped with Intel Realsense D435i depth camera.</li>
    </ul>
  </p>
</div>
<!-- end UMD PRG container -->
<hr>
<!-- begin bajaj container -->
<div class="w3-container">
  <h5 class="w3-opacity"><b>Bajaj Auto Limited, Pune, MH (India)</b></h5>
  <p class="w3-text-grey">
  Assistant Manager-Component Development  / Apr 2017 - Jul 2019<br>
  Senior Engineer-Component Development    / May 2016 - Mar 2017<br>
  Senior Engineer-Service (Commercial Vehicles) / Jul 2014 - Apr 2016</p>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2014 - Jul 2019</h6>
  <p>
    <ul class="w3-text-grey">
    <li>Managed a team of 50+ people at 7 Tier-1 vendors and multiple Tier-2 vendors.</li>
    <li>Delivered projects from design stage to market launch leading to launch of 20+ products in domestic and international markets.</li>
    <li>Design validation with R&D team for manufacturability.</li>
    <li>Headed a special marketing project. 3% gain of market share in a year. Received accolade from the Managing Director.</li>
    <li><dt>Deep Learning Projects:</dt></li>
      <dd>- Human detector near an autonomous robotic system</dd>
      <dd>- Exhaust system exterior damage detection</dd>
      <dd>- Tooling machine cost prediction using a bill of materials</dd>
    </ul>
  </p>
</div>
<!-- end bajaj container -->
<hr>